<div class="page-container">
  <app-page-header
    (homeClick)="goHome()">
  </app-page-header>

  <main class="main-content">
    <!-- Hero Section -->
    <section id="home">
      <div class="pt-4 pb-4 px-6 text-center">
        <div class="max-w-4xl mx-auto">
          <h1 class="geodistricts-title mb-6 text-4xl md:text-5xl font-bold">
            GeoDistricts
          </h1>

          <h2 class="text-gray-900 mb-2 text-xl md:text-2xl font-bold">
            The End of Gerrymandering
          </h2>
          <h2 class="text-gray-900 mb-2 text-xl md:text-2xl font-bold">
            Protecting the Republic
          </h2>
          <h2 class="text-gray-900 mb-2 text-xl md:text-2xl font-bold">
            Preserving Democracy
          </h2>

        </div>
      </div>
    </section>

    <section id="enter" class="pt-8 pb-10 px-6 text-center">
      <button matButton="filled" (click)="navigateToItem({id: 'home', label: 'Home', route: '/maps'})">
        show me the maps
      </button>
    </section>

    <!-- What Is It Section -->
    <section id="what" class="pt-8 px-6">
      <div class="max-w-4xl mx-auto bg-gray-100 rounded-lg p-4">
        <!-- <h2 class="text-gray-900 mb-4 text-center text-3xl font-bold">What is GeoDistricts?</h2> -->
        <p class="text-gray-600 max-w-2xl text-center mx-auto text-lg">
          Geographically divided<br>congressional districts.
        </p>
        <div class="divider"></div>
        <p class="text-gray-600 max-w-2xl text-center mx-auto text-lg">
          No humans. No bias.
        </p>
        <div class="divider"></div>
        <p class="text-gray-600 max-w-2xl text-center mx-auto text-lg">
          Just a protocol.
        </p>
        <p class="text-gray-600 max-w-2xl text-center mx-auto text-lg">
          100% fair and objective.
        </p>

      </div>
    </section>

    <section id="alpha" class="pt-4 px-6">
      <div class="alpha-release max-w-4xl mx-auto rounded-lg p-4 text-center">
        <a mat-button href="https://github.com/Lacoda-Labs/geodistricts" target="_blank" rel="noopener">
          Alpha Release. You're here early.<br>Watch one patriot vibe this into action.
        </a>
      </div>
    </section>

  </main>

  <div class="page-footer">
    <div class="copyright">
      © 2025 Lacoda Labs.
    </div>
    <nav class="footer-nav">
      <a routerLink="/privacy" class="footer-link">privacy</a>
      <a routerLink="/terms" class="footer-link">terms</a>
    </nav>
  </div>

</div>