<div class="state-row" 
     [class.background-off]="background === 'off'"
     [class.background-on]="background === 'on'"
     [class.clickable]="clickable"
     (click)="onRowClick()">
  <div class="state-identity">
    <img [src]="'/images/state-flags/23x15/' + data.stateCode + '.png'" 
         [alt]="(data.stateName || data.stateCode) + ' Flag'"
         class="state-flag" 
         (error)="$event.target.style.display='none'">
    <span class="state-abbr">{{ data.stateCode }}</span>
    <span class="state-districts">({{ data.districts }})</span>
  </div>
  <div class="data-column congress-column">
    <div class="data-badge democratic" [class.dimmed]="false" [style.--party-pct]="congressDPct">
      <span>D: {{ data.congressD }}</span>
      <span class="change-indicator" *ngIf="showCongressDDelta">{{ formatDelta(data.congressDChange) }}</span>
    </div>
    <div class="data-badge republican" [class.dimmed]="false" [style.--party-pct]="congressRPct">
      <span>R: {{ data.congressR }}</span>
      <span class="change-indicator" *ngIf="showCongressRDelta">{{ formatDelta(data.congressRChange) }}</span>
    </div>
  </div>
  <div class="data-column geodistricts-column">
    <ng-container *ngIf="data.hasGeodistrictsPartyData !== false">
      <div class="data-badge democratic dimmed" [style.--party-pct]="geodistrictsDPct">
        <span>D: {{ data.geodistrictsD }}</span>
      </div>
      <div class="data-badge republican dimmed" [style.--party-pct]="geodistrictsRPct">
        <span>R: {{ data.geodistrictsR }}</span>
      </div>
    </ng-container>
  </div>
  <div class="data-column swing-column">
    <div class="data-badge" *ngIf="data.hasGeodistrictsPartyData !== false" [class.democratic]="data.swing > 0" [class.republican]="data.swing <= 0" [class.dimmed]="true">
      <span>{{ swingColumnText }}</span>
    </div>
  </div>
</div>

