<div class="state-row" 
     [class.background-off]="background === 'off'"
     [class.background-on]="background === 'on'"
     [class.clickable]="clickable"
     (click)="onRowClick()">
  <div class="state-identity">
    <img [src]="'/images/state-flags/23x15/' + data.stateCode + '.png'" 
         [alt]="(data.stateName || data.stateCode) + ' Flag'"
         class="state-flag" 
         (error)="$event.target.style.display='none'">
    <span class="state-abbr">{{ data.stateCode }}</span>
    <span class="state-districts">({{ data.districts }})</span>
  </div>
  <div class="data-column congress-column">
    <div class="data-badge democratic" [class.dimmed]="false" [style.--party-pct]="congressDPct">
      <span>D: {{ data.congressD }}</span>
      <span class="change-indicator" *ngIf="showCongressDDelta">{{ formatDelta(data.congressDChange) }}</span>
    </div>
    <div class="data-badge republican" [class.dimmed]="false" [style.--party-pct]="congressRPct">
      <span>R: {{ data.congressR }}</span>
      <span class="change-indicator" *ngIf="showCongressRDelta">{{ formatDelta(data.congressRChange) }}</span>
    </div>
  </div>
  <div class="data-column geodistricts-column">
    <div class="data-badge democratic dimmed" [style.--party-pct]="geodistrictsDPct">
      <span>D: {{ data.geodistrictsD }}<ng-container *ngIf="hasGeodistrictsPartyPct"> ({{ geodistrictsDemPctFormatted }})</ng-container></span>
      <span class="change-indicator" *ngIf="showGeodistrictsDDelta">{{ formatDelta(data.geodistrictsDChange) }}</span>
    </div>
    <div class="data-badge republican dimmed" [style.--party-pct]="geodistrictsRPct">
      <span>R: {{ data.geodistrictsR }}<ng-container *ngIf="hasGeodistrictsPartyPct"> ({{ geodistrictsRepPctFormatted }})</ng-container></span>
      <span class="change-indicator" *ngIf="showGeodistrictsRDelta">{{ formatDelta(data.geodistrictsRChange) }}</span>
    </div>
  </div>
  <div class="data-column swing-column">
    <div class="data-badge republican swing">
      <span>{{ data.swing >= 0 ? '+' : '' }}{{ data.swing }}</span>
    </div>
  </div>
</div>

